.servicos-secao {
    background-color: #2ecc71;
    padding: 50px 20px;
    width: 100%;
    box-sizing: border-box;
}

.servicos-titulo {
   
    color: #5F2EE6;
    font-family: "Fredoka One", sans-serif; 
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 

    
    width: 500px;
    height: 47px;
    flex-shrink: 0;


    text-align: center;
    margin: 0 auto 40px auto;
    

    display: flex;
    align-items: center;
    justify-content: center;
}

.servicos-container {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap; 
    gap: 25px; 
}


.servico-card {
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 260px;
    text-align: center; 
    box-sizing: border-box;
}


.servico-icone {
    font-size: 40px;
    display: block;
    margin-bottom: 15px;
    color: #f39c12; 
}


.servico-descricao {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #555;
    line-height: 1.4; 
    margin: 0; 
}

.servico-botao {
    display: inline-block; 
    margin-top: 20px;      
    padding: 12px 25px;    
    background-color: #f39c12; 
    color: #FFFFFF; 
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none; 
    border-radius: 8px;
    transition: all 0.3s ease;
}

.servicos-container:hover > .servico-card:not(:hover) {
    opacity: .4;
    transform: scale(0.9);
}