footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    background-color: #000;
    color: #fff;
    padding: 40px 60px;
    margin-top: 50px;
}

/* Logo */
.logo-wrapper {
    display: flex;
    justify-content: center;
}

.footer-logo {
    max-height: 180px; /* tamanho moderado */
    width: auto;
}

/* Centro */
.footer-center {
    text-align: center;
    font-size: 15px;
    line-height: 1.6;
}

/* Mapa à direita */
.footer-right {
    text-align: right;
}

.footer-right h3 {
    color: #ff8f00;
    margin-bottom: 10px;
}
.footer-right ul {
    list-style: none;   /* tira os bullets */
    padding: 0;
    margin: 0;
}
