/* -------------------------------------- */
/* ESTILIZAÇÃO GERAL E HEADER HERO */
/* -------------------------------------- */
header {
    position: relative; /* Importante para posicionar o menu e o título */
    /* Cria o contexto de Grid para sobrepor elementos */
    display: grid;

    /* Faz o menu-bar e o hero-content ocuparem a mesma célula (sobreposição) */
    grid-template-areas: "content";

}

.header-menu-bar .hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

.header-menu-bar .hamburger span {
    display: block;
    width: 28px;
    height: 4px;
    background-color: #000;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.header-menu-bar .hamburger.ativo span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}
.header-menu-bar .hamburger.ativo span:nth-child(2) {
    opacity: 0;
}
.header-menu-bar .hamburger.ativo span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}


/* Centraliza e estiliza o Título sobre a Imagem */
.header-hero-content {
    position: relative;
    grid-area: content;

    /* Flexbox para centralizar o título vertical e horizontalmente */
    display: flex;
    font-family: var(--font-headings);

    /* Define o tamanho da tela e aplica a imagem de fundo */
    /* Altura de 80% da viewport */
    /* height: 80vh; */
    height: 720px;
    background: url('../../imagens/peb_principal.webp') no-repeat center center/cover;
    background-position: top center;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-primary-500); /* Cor do texto sobre a imagem */
    /* Adiciona uma sombra para melhorar a legibilidade sobre a imagem */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.header-hero-content .header-glass-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.3); /* Fundo branco semi-transparente */
    backdrop-filter: blur(3px); /* Efeito de desfoque */
}

.header-hero-content .content {
    position: relative;
    z-index: 1; /* Para ficar acima do overlay */
    padding: 20px;
}

.header-hero-content .content h1 {
    font-size: 4em;
}
/* -------------------------------------- */
/* MENU FIXO E BARRA DE NAVEGAÇÃO */
/* -------------------------------------- */
.header-menu-bar {
    /* Alinhamento usando Flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5%;
    font-family: var(--font-headings);
    font-size: 25px;

    /* PROPRIEDADE CHAVE: Torna o menu fixo no topo */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background-color: rgba(255, 255, 255, 0.80); /* Fundo semi-transparente */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000; /* Garante que fique acima de tudo */
}
header .logo {
    width: 140px;
    margin: 12px 0px;
}
/* Estilização do menu grande */
header nav ul {
    list-style: none;
    display: flex;
}
header main {
    /* Adiciona um padding no topo para que o conteúdo não fique escondido
       atrás do menu fixo, ajuste este valor conforme a altura do seu menu. */
    padding-top: 200px;
}
header nav ul li a {
    text-decoration: none;
    color: var(--color-secondary);
    padding: 10px 15px;
    font-weight: bold;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: var(--color-primary-500);
}

/* Compensação para o Header Fixo */

/* -------------------------------------- */
/* BOTÃO WHATSAPP FIXO */
/* -------------------------------------- */
.wrapper-whatsapp-btn {
    /* PROPRIEDADE CHAVE: Torna o botão fixo */
    position: fixed;
    bottom: 90px; /* Distância da borda inferior */
    right: 1rem; /* Distância da borda direita */
    z-index: 999; /* Fica abaixo do menu fixo, mas acima do conteúdo */
}
.whatsapp-fixed-btn {
    background-color: var(--color-accent); /* Geralmente Verde */
    color: var(--color-secondary);
    padding: 10px 16px;
    border-radius: 50px; /* Formato redondo/oval */
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
    /* background-color: #29E63A; */
    display: flex;
    align-items: center;
    gap: 6px;
}

.whatsapp-fixed-btn:hover {
    transform: scale(1.05);/* Pequena animação ao passar o mouse */
    color: #ffffff;
    background-color: var(--color-primary-500);
}

.whatsapp-fixed-btn svg {
    width: 30px;
    display: inline-block;
}

.wrapper-scroll-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1001;
}

.scroll-to-top-btn {
    background-color: #5F2EE6;
    color: #a31a1a;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-size: 10px;
    transition: background-color 0.3s, transform 0.3s;
}
.scroll-to-top-btn img {
    width: 60%;
    height: auto;
    filter: invert(100%)
}
.scroll-to-top-btn:hover {
    background-color: #e69a29;
    transform: scale(1.1);
}

@media (max-width: 992px) {
    .header-hero-content {
        min-height: 552px;
        height: 80vh; /* Ajusta a altura para 60% da viewport */
    }

    .header-menu-bar {
        justify-content: space-between;
    }

    .header-menu-bar .logo {
        width: 110px;
        margin: 6px 0px;
    }

    .header-menu-bar .hamburger {
        display: flex;
    }

    .header-menu-bar .menu {
        position: absolute;
        top: 115px;
        right: 0;
        background: var(--color-secondary);
        display: flex;
        padding: 20px;

        opacity: 0;
        transform: translateX(100%);
        transition: .3s ease-in-out;
    }

    header nav ul {
        padding: 0;
    }

    header nav ul {
        flex-direction: column;
        gap: 15px;
    }

    header nav ul li a {
        color: #fff;
    }

    .header-menu-bar .menu.ativo {
        transform: translateX(0);
        opacity: 1;
    }

    .whatsapp-fixed-btn .frase {
        display: none;
    }
}